<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.rd11.remote-controls"
    version="1.0.0">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>RemoteControls</name>
    <keywords>lockscreen,media,now,playing</keywords>
    <repo>https://github.com/shi11/RemoteControls.git</repo>
    <issue>https://github.com/shi11/RemoteControls/issues</issue>

    <description>iOS  lock-screen remote-controls and now playing display.</description>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/MusicControls.js" target="js/MusicControls.js"/>

    <js-module src="www/MusicControls.js" name="MusicControls">
        <clobbers target="MusicControls" />
    </js-module>


    <author>Seth Hillinger, François LASSERRE, Michael GAUTHIER</author>

    <license>MIT License</license>

    <info>The MediaPlayer.framework should automatically be added, however you also need to add and modify a few functions in the MainViewContrller.m See the example in the README</info>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RemoteControls">
                <param name="ios-package" value="RemoteControls" />
            </feature>
        </config-file>
        <header-file src="src/ios/RemoteControls.h" />
        <source-file src="src/ios/RemoteControls.m" />
        <framework src="MediaPlayer.framework" />
    </platform>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MusicControls" >
                <param name="android-package" value="com.homerours.musiccontrols.MusicControls"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/MusicControls.java" target-dir="src/com/homerours/musiccontrols" />
        <source-file src="src/android/MusicControlsBroadcastReceiver.java" target-dir="src/com/homerours/musiccontrols" />
        <source-file src="src/android/MusicControlsNotification.java" target-dir="src/com/homerours/musiccontrols" />
    </platform>
    
    <!-- windows -->
  	<platform name="windows">
    	<js-module src="src/windows/MusicControlsProxy.js" name="MusicControlsProxy">
    		<merges target="" />
    	</js-module>
	</platform>

</plugin>
